div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    display: inline-block;
    position: static;
}

#box1 {
    position: static;
    /* for static position left right top bottom wont work*/
}

#box2 {
    position: relative; /* related to it self */
    top: 20px;
    left: 20px;
}

