body {
    background-color: rgb(30, 160, 127);
}

div {
    border-radius: 5%;
    background-color: rgba(210, 110, 152, 0.5);
    height: 100px;
    width: 100px;
    text-align: center;
    border: 5px dashed black;
    /* padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px; */
    padding: 25px;
    margin-top: 25px;
    display: inline-block; /* behaves like inline
     element but we can set margine and padding */
}

#box2{
    display: none;
}

#box1 {
    visibility: hidden;
}